.Register-show-city {
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.Register-show-age {
    margin: 0 auto;
    overflow: hidden;
    text-align: justify;
    width: 90%;
    font-size: smaller;
}

.Register-deed-type {
    padding: 1vh;
}

.Register-tandc {
    margin-top: 2vh;
}