.Admin_Show {
  position: relative;
  float: left;
  flex-direction: column;

  border: white 1px solid;
  padding: 5px;
  margin: 5px;
}

.Admin_Hide {
   display: none;
}

.Admin_ButtonRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
}

.Admin_Approve {
  background-color: green;
}

.Admin_Disapprove {
  background-color: red;
}