.Button-default {
  border-radius: 15px;
  text-align: center;
  color: black;
  background-color: white;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.Button-default:disabled {
  color: lightgray;
  border: lightgray dotted 2px
}