.DeedTypeSummary-image {
  margin: 1vh auto;
  width: 30vw;
}

.DeedTypeSummary-1-line {
  font-weight: bold;
  overflow: hidden;
  color: white;
}

.DeedTypeSummary-2-lines {
  min-height: 2.8em;
  color: white;
}

.DeedTypeSummary-callout {
  background-color: white;
  color: #002E4A;
  padding: 1vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.DeedTypeSummary-callout-text {
  margin: 0 1vh 0 0;
  text-align: left;
}

.DeedTypeSummary-when {
  padding-bottom: 1vh;
  border-bottom: 1px #002E4A solid;
}

.DeedTypeSummary-where {
  padding-top: 1vh;
}

.DeedTypeSummary-emphasis {
  font-weight: bold;
}

.DeedTypeSummary-time {
  font-family: 'Bungee Inline';
  font-size: x-large;
  margin-left: 3vh;
}

.DeedTypeSummary-vertical {
  font-family: 'Bungee Inline';
  transform: rotate(180deg);
  writing-mode: vertical-lr;
}