.Thanks-container {
  margin-bottom: 3vh;
  padding: 2vw;
}

.Thanks-title {
  align-items: center;
}

.Thanks-image {
  width: 15vw;
  padding-bottom: 3vh;
}

.Thanks-text {
    color: white;
  }

.Thanks-text a {
  color: white;
}

.Thanks-title-text {
  color: white;
  font-weight: bold;
  padding-left: 3vw;
}