@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.Menu {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  z-index: 2;
  background-color: white;
  padding: 0 25px;
  animation: fadein 0.5s;
}

.Menu_icon {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.Menu_ok {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.Menu_version {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: small;
}
