* {
  box-sizing: border-box;
}

body {
  font-size: 4vw;
  background-color: black;
  color: white;
}

button {
  display: block;
}

.flexContainerRow {
  display: flex;
  flex-direction: row;
}

.flexContainerColumn {
  display: flex;
  flex-direction: column;
}

.flexFixedSize {
  flex: 0 0 auto;
  align-self: center;
}

.flexDynamicSize {
  flex: 1 1 auto;
}

.page {
  text-align: center;
}

.hidden {
  display: none;
}
